@import './base.scss';

html,
body,
ol,
ul,
li,
button {
  margin: 0;
  padding: 0;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
  &:active {
    color: unset;
  }
}

svg {
  font-size: 16px;
  font-weight: bold;
  margin: 0 3px 0 0;
  position: relative;
  top: 1px;
}

ol,
ul,
li {
  list-style: none;
}

button {
  height: 30px;
  line-height: 30px;
  border: 0;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 0 5px;
}

input,
select{
  width: 100%;
  height: 30px;
  padding: 0 3px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input,
select,
button,
textarea {
  overflow: hidden;
  &[disabled] {
    background: #ffecec;
    cursor: not-allowed;
  }
}

input {
  &[type='file'] {
    display: none;
  }
  &[type='radio'],
  &[type='checkbox'] {
    width: 16px;
    height: 16px;
    appearance: none;
    margin: 0 0 2px 0;
    vertical-align: middle;
  }
  &[type='radio']:checked,
  &[type='checkbox']:checked {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 3px;
      bottom: 5px;
      right: 2px;
      border: 2px solid black;
      border-top: none;
      border-right: none;
      transform: rotate(-55deg);
    }
  }
}

textarea {
  width: 100%;
}

label {
  display: inline-block;
}